* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    margin: 20px 40px;
    color: #222;
}

h1 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

section {
    text-align: center;
    margin: 20px;
    padding: 40px;
}
section p {
    padding-bottom: 40px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}
div img {
    margin: 0 40px;
    cursor: pointer;
    border: white 2px solid;
}
div img:hover {
    border: #222 2px solid;
}
button {
    margin: 0 auto 40px;
    display: block;
    border: rosybrown 3px solid;
    background-color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover {
    background-color: #eee;
    border-color: #222;
}
.container {
    display: flex;
    justify-content: center;
    gap: 20vw;
}
h3 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
}
p {
    font-size: 14px;
    margin-bottom: 10px;
}
